<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyALsUS_qiTBq7g_MQkjpAEa0shDoOybEB4</string>
	<key>GCM_SENDER_ID</key>
	<string>527630827257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.memeHub</string>
	<key>PROJECT_ID</key>
	<string>memehub-d3b65</string>
	<key>STORAGE_BUCKET</key>
	<string>memehub-d3b65.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527630827257:ios:8fcc94c670798e83a62c28</string>
</dict>
</plist>